*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cnr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px 8px 0 0;
    background: rgb(178, 62, 62);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
 
}

.result{
    background-color: #922929;
    color: rgb(32, 20, 145);
    border-radius: 8px 8px 0 0;
    padding: 20px;
    font-size: 20px;

}

.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px; 
}

.row{
    display: flex;
    justify-content: space-around;
    gap: 1px;
}

 .row button{
    width: 75px;
    height: 75px;
    border-radius: 0 0 0 0;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: center;
    transition: 0.2s all linear; 
} 

.row button:hover{
    background-color: #8d1616;
}

.row button:active{
    background-color: #ed1212;
}

#equal{
    width: 150px;
}

#dot{
    font-weight: 600;
}